# TinAI – Test Report

**Date   :** 2026-03-10 15:02 UTC
**Run    :** [#40](https://github.com/MX10-AC2N/TinAI/actions/runs/22908037423)
**Commit :** `db43716ee158e8597940619239664a8b28d8e83d`
**Branch :** `main`

---

## amd64


## arm64

> Rapport non disponible pour arm64

---

*Rapports détaillés disponibles en artifacts du workflow.*
